html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 58.813rem;
  margin: 0 auto;
}

.header__top {
  background-image: url(../img/bgheader.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 48rem;
}
.header__top .logo {
  display: block;
  margin: 0 auto;
  padding: 2.563em;
}
.header__top .header__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 3.75rem;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-top: 16.8rem;
}
.header__top .header__text {
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.header__top .scroll-down {
  font-size: 0.688rem;
  letter-spacing: 0.34em;
  display: block;
  margin: 13.813rem auto 4.438rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.header__navbar .logo-black {
  display: block;
  width: 4.972rem;
  height: 1.125rem;
}
.header__navbar .header__menu {
  display: flex;
  list-style-type: none;
}
.header__navbar .header__menu .header__menu-item {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #48555b;
  padding-left: 2.44rem;
}
.header__navbar .header__menu .header__menu-item:hover {
  color: #00a4e5;
}

.story__title {
  color: #48555b;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 0.13rem;
  padding: 3.125rem 0;
}

.story__title::after {
  content: "";
  width: 3.125rem;
  height: 0.125rem;
  background-color: #00a4e5;
  display: block;
  margin: 0.625rem auto 0;
}

.story__inner {
  display: flex;
  justify-content: center;
}
.story__inner .story__left {
  max-width: 25em;
  margin-right: 4.75em;
}
.story__inner .story__left-title {
  color: #48555b;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.01em;
  margin-bottom: 1.875em;
}
.story__inner .story__left-title .accent-color {
  color: #00a4e5;
}
.story__inner .story__left .basic-text {
  font-weight: normal;
  font-size: 0.813em;
  line-height: 1.438em;
  letter-spacing: 0.01em;
}
.story__inner .story__right {
  display: flex;
  align-items: flex-end;
}
.story__inner .story__right .story__item {
  font-weight: 800;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  width: 5.834em;
  height: 9.334em;
  padding: 0.625em;
  margin-right: 0.834em;
}
.story__inner .story__right .story__item:nth-child(1) {
  background-image: url(../img/we_plan.png);
}
.story__inner .story__right .story__item:nth-child(2) {
  background-image: url(../img/we_manage.png);
}
.story__inner .story__right .story__item:nth-child(3) {
  background-image: url(../img/we_build.png);
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */