@media screen and (max-width: 64rem) {
  .container {
    padding: 0 0.938rem;
  }
  .story__inner {
    flex-wrap: wrap;
  }
  .services {
    .services__head {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      .services__head-text {
        margin: 0 auto;
        text-align: center;
      }
      .services__head-title::after {
        margin: 0.625rem auto 0;
      }
    }
    .services__bottom {
      flex-wrap: wrap;
    }
  }
  .info__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    text-align: center;
  }
}

@media screen and (max-width: 50rem) {
  .header__top {
    height: 30rem;
    padding: 0 1rem;
    .header__title {
      font-size: 2.5rem;
      margin-top: 5.8rem;
    }
    .header__text {
      font-weight: 500;
    }
    .scroll-down {
      display: none;
    }
  }
  .header__navbar {
    flex-direction: column;
    padding-top: 2rem;
    .header__menu {
      flex-direction: column;
      padding-left: 0;
      .header__menu-item {
        padding-left: 0;
      }
    }
  }
  .story__right {
    margin-top: 1.875rem;
  }
  .newsletter {
    flex-direction: column;
    gap: 1.875rem;
  }
}

@media screen and (max-width: 43.47rem) {
  .build {
    padding: 0;
    .build__title {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 31.25rem) {
  .newsletter__signup {
    width: 100%;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 31.25rem) {
  .story__title {
    padding: 1.563rem 0;
  }
  .story__right {
    flex-wrap: wrap;
    .story__item {
      margin-bottom: 20px;
    }
  }
}
